/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;

}

}
html, body {
  height: 16px;
}

h1 {
font-size: 1em;
  margin-bottom: .4em;
   color: #d4a2e9
}

h2 {
    font-size: .875em;
      color: ##e7cbf3
}

h3 {
  font-size: .75em;
  color: white;
}

p {
    font-size: .6em;
      margin: .5em;
    text-decoration: none;
}

body {
  background-color: #69008c;
  font: 16px century gothic, century gothic, clean, sans-serif;
  line-height: 110%;
  *font-size: small;
  text-align: center;
}
a {
  color: #db64c3;
}

a:hover {
  color: #b1ffc5;
    text-decoration: none;
}

a:visited {
  color: #b0a2e9;
}

table {
  font-size: inherit;
  font: 100%;
   line-height: 110%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 1.5em;
}

  ul.posts li {
    line-height: 1em;
  }

  ul.posts span {
    color: white;
    font-family: Century gothic, times new roman;
    font-size: 90%;
     line-height: 120%
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  color: #dddddd;
  font: 30px century gothic;
  text-align: justify;
  width: 42em;
  margin: 4em auto 2em auto;
  line-height: 110%;
}

.title {
  color: white;
  margin-bottom: .3em;
font-size: 3em;
   margin-top: 1em;
}

  .site .title a {
    color: white;
    text-decoration: none;
  }

  .site .title a:hover {
    color: #00d0d0;
  }

  .site .title a.extra {
    color: white;
    text-decoration: none;
    margin-left: 0em;
  }

  .site .title a.extra:hover {
    color: white;
  }

  .site .meta {
    color: white;
  }

  .site .footer {
    font-size: .5em;
    color: #e6fffa;
    border-top: 3px solid white;
    margin-top: 1em;
    overflow: hidden;
    border-bottom: 3px solid white;
   line-height: 110%;

  }

    .site .footer .contact {
      float: left;
      margin-left: .2em;
    }
    

      .site .footer .contact a {
        color: #d4a2e9;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid white;
    background-color: black;
    padding: 0 2.4em;
  }

  #post ul,
  #post ol {
    margin-left: 3em;
  }

  #post code {
    border: 1px solid white;
    background-color: #eef;
    font-size: 70%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #020101;
    color: white;
  }

  #post pre.terminal code {
    background-color: #020101;
  }

#related {
  margin-top: 4em;
}

  #related h2 {
    margin-bottom: 1em;
  }
