
---
layout: post
---
<div id="post">
{{ content }}
</div>

<div id="related">
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="images/stripe.png">
<a href="http://github.com/karahmel/Blog"><img style="position: absolute; top: 0; left: 0; border: 0;" src="images/stripe.png" alt="See the Code" /></a>
</div>

{% include footer.html %}
